
# --------------------------
# Directories
# --------------------------
bin/
obj/
scripts/__pycache__


# --------------------------
# Files
# --------------------------


# --------------------------
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user